@media screen and ( max-width: 1440px )
  .hero__scroll-up
    margin-right: 0.5rem
  .menu
    &__contacts
      display: flex
      align-items: center
  .nav
    &__item
      margin-right: 2rem
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
    &__scroll-down
      cursor: default
  .nav
    display: none
  .button
    &:hover
      cursor: default
    &--primary
      box-shadow: none
  .phone
    cursor: default

// For _types.sass and _design.sass
@media screen and ( max-width: 992px )
  .design
    background: $dark url('../img/bg-modal.svg')
    &__title-text
      color: $light
  .section-title
    &__heading
      color: $light
  .box-align-center
      margin-bottom: 7rem
  .card
    align-items: start
    &__text
      margin-top: -12rem
    &__price
      padding: 1rem 2.8rem
    &__list
      margin-bottom: 1.314rem
    &__list--hidden
      li:nth-child(n+8)
        display: none
    &__item--ellipsis
      &::after
        content: '...'
@media screen and ( max-width: 375px )
  .design
    &__title-text
      font-size: 15px
      line-height: 135.84%

@media screen and ( max-width: 320px )
  .card
    &__text
      margin-right: 1.5rem

@media screen and ( max-width: 570px )
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
  .hero
    &__title
      font-size: 23px
      line-height: 1.4
      margin-bottom: 0.9rem
    &__text
      font-size: 18px
      margin-bottom: 2.9rem
      line-height: 1.35
    &__content
      max-width: 27.75rem
    &__button
      display: block
      margin-bottom: 2.1rem
      min-width: 28.2rem
      min-height: 4.25rem
      border-radius: 0
      font-size: 13px
    &__scroll-down
      display: none
    &__scroll-up
      display: none
@media screen and ( max-width: 375px )
  .hero
    &__button
      min-width: 100%
@media screen and ( max-height: 560px  )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-height: 670px) and (max-width: 1440px)
  .hero
    &__scroll-down
      display: none

@media screen and ( max-width: 768px )
  .project
    &-card
      &__img
        margin-top: 40px
  .swiper
    &-container
      &--right
        right: 0
@media screen and ( max-width: 425px )
  .project
    &__title-content
      &::after
        display: none

// sixfoots
@media screen and ( max-width: 1024px )
  .slaid
    &-titles
      margin-right: -13.5rem
@media screen and ( max-width: 1014px )
  .sixfoots
    &-text-box
      margin-bottom: 4rem
@media screen and ( max-width: 991px )
  .sixfoots
    display: none
  