.swiper
  &-containerbot
    overflow: hidden
    &--right
      margin-left: 4.64rem
      margin-right: 2.14rem
      max-height: 26.86rem
  &-pagination
    &-bullet
      background-color: rgba($light, 0.8)
      margin-right: 2.14rem
      &-active  
        background-color: $light
  &-button
    &-prev, &-next
      bottom: 0
      top: auto
      width: 3rem
      height: 1rem
      outline: none
      &::after
        display: none
    &-prev
      left: 0
      background: url('../img/arrow/slaider-left.svg') no-repeat center
    &-next
      background: url('../img/arrow/slaider-right.svg') no-repeat center
.swiper-container-horizontal>.swiper-pagination-bullets
  width: auto
  bottom: 0



.btnBotL, .btnBotR
  position: absolute
  width: 3rem
  height: 1rem
  bottom: 6.57rem
  top: auto

.btnBotR
  background: url('../img/arrow/slaider-right.svg') no-repeat center
  left: 17.57rem
.btnBotL
  background: url('../img/arrow/slaider-left.svg') no-repeat center
.pagination-bot
  display: flexbox
  padding-left: 4.7857rem



