.clients
  &__section
    padding: 0
    padding-bottom: 500px
  &__title-text
    margin-top: 1.714rem
    margin-bottom: 4.57rem
    font-size: 1.428rem
    text-align: center
    line-height: 2rem
  &__data
    display: flex
    align-items: center
    margin-bottom: 1.1428rem
  &__photo
    min-width: 5.428rem
    min-height: 5.428rem
    border-radius: 50%
    object-fit: cover
  &__name
    padding-left: 1.5rem
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 1.286rem
    line-height: 1.64rem
    color: $black
  &__review
    max-width: 22.857rem
    font-style: normal
    font-weight: normal
    font-size: 1.07rem
    line-height: 180%
    color: $secondary
  &__focus
    &-square
      display: flex
      align-items: center
      bottom: -7.14rem
      left: -0.429rem
      padding: 0.7857rem 1.214rem
      font-size: 1.214rem
      text-transform: unset
    &-days
      display: flex
      align-items: center
      left: 9.07rem
      bottom: -7.14rem
      padding: 0.7857rem 1.214rem
      padding-right: 1.78rem
      font-size: 1.214rem
      text-transform: unset
    &-text
      margin-left: 1.07rem