.design
  padding-bottom: 32.14rem
  padding-top: 150px
  &__title-text
    margin-bottom: 3.357rem
    font-size: 1.43rem
    line-height: 1.928rem
    text-align: center
    color: $dark
  &__section-title
    margin-bottom: 1.64rem
  &__card-focus
    text-align: start
    padding: 1.214rem 5.714rem 1.214rem 2.357rem
