.team
  &__section
    height: 900px
  &__title-text
    text-align: center
    font-size: 20px
    line-height: 27px
    margin-top: 23px
    margin-bottom: 85px
  &__block-text
    max-width: 39rem
    margin: auto
    margin-top: 57px
    margin-bottom: 4.285rem
    text-align: center
    font-size: 1.428rem
    line-height: 2.429rem
    &::before
      content: ''
      margin: auto
      margin-bottom: 0.7rem
      display: block
      width: 55px
      height: 2px
      border-radius: 30px
      background-color: $primary

.card
  &__team
    position: relative
    display: flex
    justify-content: center
  &__bg-box
    position: absolute
    left: -34px
    top: -37px
    max-width: 70px
    max-height: 70px
    background-color: $primary
  &__icon
    margin: 13px
  &__text-team
    padding: 0
    padding-top: 22px 
    text-align: center
    margin-top: -6rem
  &__profession
    padding-bottom: 24px
    font-family: 'Futura Book', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 18px
    color: $secondary
  &__focus-exp
    position: initial
    bottom: -2.14rem
    padding: 14px 20px
    font-size: 13px
    